{% extends "layout.html" %}

{% block title %}Cart{% endblock %}

{% block content %}

  <h1>Available Items:</h1>
  
  <p>Food:</p>
  <form>
    <input type="checkbox" id="usa1" name="usa1" value="burgers">
    <label for="usa1"> Burgers</label><br>
    <input type="checkbox" id="usa2" name="usa2" value="hotdogs">
    <label for="usa2"> Hotdogs</label><br>
    <input type="checkbox" id="usa3" name="usa3" value="ribs">
    <label for="usa3"> Ribs</label><br>
    <input type="checkbox" id="usa4" name="usa4" value="steak">
    <label for="usa4"> Steak</label><br>
    <input type="checkbox" id="usa5" name="usa5" value="friedChickenBucket">
    <label for="usa5"> Fried Chicken Bucket</label><br>
    <input type="checkbox" id="mex1" name="mex1" value="burritos">
    <label for="mex1"> Burritos</label><br>
    <input type="checkbox" id="mex2" name="mex2" value="tacos">
    <label for="mex2"> Tacos</label><br>
    <input type="checkbox" id="mex3" name="mex3" value="carnitas">
    <label for="mex3"> Carnitas</label><br>
    <input type="checkbox" id="mex4" name="mex4" value="chipsSalsa">
    <label for="mex4"> Chips & Salsa</label><br>
    <input type="checkbox" id="mex5" name="mex5" value="nachos">
    <label for="mex5"> Nachos</label><br>
  </form>
  
  <p>Drinks:</p>
  <form>
    <input type="checkbox" id="dri1" name="dri1" value="cocaCola">
    <label for="dri1"> Coca Cola</label><br>
    <input type="checkbox" id="dri2" name="dri2" value="sprite">
    <label for="dri2"> Sprite</label><br>
    <input type="checkbox" id="dri3" name="dri3" value="aAndW">
    <label for="dri3"> A&W</label><br>
    <input type="checkbox" id="dri4" name="dri4" value="water">
    <label for="dri4"> Water</label><br>
    <input type="checkbox" id="dri5" name="dri5" value="milkshake">
    <label for="dri5"> Fanta</label><br>
  </form>
  
  <p>Desserts:</p>
  <form>
    <input type="checkbox" id="des1" name="des1" value="iceCream">
    <label for="des1"> Ice Cream</label><br>
    <input type="checkbox" id="des2" name="des2" value="milkshake">
    <label for="des2"> Milkshake</label><br>
    <input type="checkbox" id="des3" name="des3" value="cake">
    <label for="des3"> Cake</label><br>
    <input type="checkbox" id="des4" name="des4" value="applePie">
    <label for="des4"> Apple pie</label><br>
    <input type="checkbox" id="des5" name="des5" value="cheesecake">
    <label for="des5"> Cheesecake</label><br>
  </form>
  
{% endblock %}
